.cabecera {
    background-image: url('../img/fondo_cabecera.jpg');
    width: auto;
    height: auto;
    background-size: cover;
}
.navegacion img {
    width: 50px;
    height: 50px;
}
.navegacion {
    vertical-align: center;
    color: rgb(140, 140, 140);
}
.enlaces a, div{
    text-align: center;

}

.enlaces a {
    color: rgb(140, 140, 140);
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.hamburger-menu {
    height: 45px;
}
.titulo-productos {
    font-weight: 300;
    padding: 20px;
}
.img-container {
    display: flex;
    align-items: center;
    width: 200px;
    height: 220px;
    align-self: center;
}